body {
    padding: 0px;
    margin: 0px;
}

div {
    background-image: url("floor_update.png");
    height: 1000px;
}
a {
    color: rgba(54, 38, 28, 0.849);
    text-decoration: none;

}
.navbar {
    position: fixed;
    width: 180px;
    background: rgba(13, 58, 20, 0.836);
    height: 100%;
    margin: 0px;
}
.nav-item {
    list-style: None;
    margin: 20px 10px;
}
.nav-link {
    text-decoration: None;
    color: rgba(54, 38, 28, 0.849);
    font-size: 1.4rem;
    transition: all 400ms;
}
.nav-link:hover {
    font-size: 1.6rem;
}
h1 {
    width: 100%;
    background: rgba(28, 96, 38, 0.836);
    color: rgba(54, 38, 28, 0.849);
    margin: 0px;
    padding: 15px 20px;
}
H2 {
    color: rgb(76, 122, 79);
}
H3 {
    color: rgb(193, 103, 109);
}

H4 {
    color: rgb(197, 197, 197)
}

h5 {
    color: rgb(199, 214, 186);
    font-size: 20px;
}
h6 {
    color: rgb(197, 197, 197)
}
p {
    color: rgb(102, 159, 103);
    font-size: 25px;
}
#content {
    margin-left: 220px;
    padding: 30px 20px;
}



.wrong {
    color: darkred;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;  
    flex-wrap: wrap;
    align-content: space-around;
    flex-direction: row; 
}
.cats {
    font-size: 4rem;
    text-decoration: None;
    color: rgba(124, 79, 83, 1);
}
.flex-container img{margin:0px 40px;}