{% extends "base.html" %}
{% block content %}
    <div class="cats">  
        <h2>Alesssandra</h2>
        <img src="https://i.pinimg.com/originals/fa/3d/46/fa3d468a3ead5526ff21944095f3a476.jpg" alt="cat1" width="250px";>
        <p>Das ist Leopold. Er lebt mit seinem Besitzer Pete seit zwei Jahren in ihrer Altbauwohnung mit einem Hinterhof, in dem Leopold liebend gerne herumstreunt. 
        Seit Pete an der nahegelegenen Universität Geschichte studiert, gehen viele Menschen in ihrer Wohnung ein und aus und Leopold liebt es, von verschiedenen 
        Leuten gekrault zu werden. Er ist auch nicht wählerisch damit, was er isst. Seien es die Reste der Dinner Party vom Vorabend oder eine Schale des Trockenfutters
        aus dem Supermarkt. Ausserdem mag Leopold es, Schnürsenkel anzuknabbern und liebt es, wenn Pete mit Kokosöl kocht, weil dann die ganze Wohnung gut riecht.
        Bevor Pete ihn im Tierheim abholte, hatte Leopold ein wildes Leben. Ursprünglich stammt er aus einem kleinen Dorf in der Nähe, das er frür verlassen hatte. 
        Seine Mutter war eines Tages spurlos verschwunden, ohne sich zu verabschieden. Leopold weiss nur, dass sie noch lebt, weil sich seine Ex-Freundin mit ihr ab 
        und zu zum Reden traff. Wenn Leopold alleine Zuhause ist liebt er es, Petes vertrocknete Topfpflanzen umzuwerfen und die Erde im der Wohnung zu verteilen.
        Wenn er im Hinterhof spazieren geht, trifft er oft seinen Kumpel, den Streuner Quirill. Sie sitzen oft zusammen auf dem Kompost und unterhalten sich über 
        Gott und die Welt. Vor ein paar Wochen war Quirill plötzlich verschwunden. Leopold war in heller Panik und konnte zwei Tage lang vor Sorge nicht schlafen. 
        Am dritten Tag des Verschwindens seines Freundes machte sich Leopold auf den Weg durch die Stadt, um Quirill zu finden. Nach ein paar Stunden war er erschöpft und 
        machte eine Pause im Stadtpark. Er hatte beinahe aufgegeben, als Quirill plötzlich aus dem Dickicht hervorsprang. Leopold fiel fast von dem gefällten Baum hinunter,
        auf dem er sich ausgeruht hatte. Endlich wieder vereint und froh, sich wieder zu sehen grüssten sich die beiden Katzen überglücklich. Nach einer halben Stunde 
        war Quirill endlich fertig damit, Leopold von seinem Abenteuer der vergangenen drei Tage zu erzählen. Er war von einer Katzenfängerin gefasst worden und musste 
        aus ihrem Fahrradanhänger auf dem Weg zum Tierheim hinausspringen. Danach verbrachte er seine Zeit in der Kanalisation um nicht gefunden zu werden und freundete sich
        mit einer Mäusefamilie an. Nach dem emotionalen Wiedersehen machten sich die beiden wieder auf den Heimweg. Leopold besucht jetzt wöchentlich mit Quirill die 
        Käsemanns in der Kanalisation.</p>
    </div>
    {% endblock %}