{% extends "base.html" %}
{% block content %}
    <div class="cats">  
        <h2>Alesssandra</h2>
        <img src="https://i.pinimg.com/originals/fa/3d/46/fa3d468a3ead5526ff21944095f3a476.jpg" alt="cat1" width="250px";>
        <p>Hi! Bei diesem Projekt war ich für das Entwerfen und Programmieren <br>
            der Hauptfigur und der Frösche sowie auch für das Welcome Screen zuständig. <br>
            Ich hatte Spass beim Programmieren dieses Spiels und hoffe, <br> 
            dass du gleich viel Spass beim Spielen haben wirst :]</p>
    </div>
    {% endblock %}