{% extends "base.html" %}
{% block content %}
    <div class="cats">  
        <h3>Alesssandra</h3>
       
        <p>Hi! Bei diesem Projekt war ich für das Entwerfen und Programmieren <br>
            der Hauptfigur und der Frösche sowie auch für das Welcome Screen zuständig. <br>
            Ich hatte Spass beim Programmieren dieses Spiels und hoffe, <br> 
            dass du gleich viel Spass beim Spielen haben wirst :]
            <br>
            <br>
            <a href="/wir" style="color:rgb(152, 122, 60)">Hier </a> geht es zurück zu uns allen. 
            </p>
    </div>
           
    {% endblock %}