{% extends "base.html" %}
{% block content %}
    <div class="cats">  
        <h3>Ida</h3>
        
        
       <p>Hey, ich bin Ida und beim Informatikprojekt "Finding Frogs" war ich mit Manon zusammen für das Mapdesign 
           zuständig. Unter Anderem schrieben wir Sprites für grafische Elemente und teilten ihnen einen 
           Buchstaben zu, den wir dann in der Karte einfügen konnten. Zudem mussten wir viele Probleme bei der 
           Anzeige des Spiels lösen. <br>
           Viel Spass beim Frösche sammeln!
       </p>
    </div>
    {% endblock %}