{% extends "base.html" %}
{% block content %}
    <h1>Willkommen!</h1>
    <p>Herzlich willkommen auf der Webseite zum Spiel "Finding Frogs". Hier erfahrt ihr alles, was
        ihr über das Spiel wissen wollt: wir stellen uns und unser Spiel vor, erzählen euch über unsere 
        individuellen Arbeitsprozesse und unsere Probleme bei der Entwicklung. <br>
        Viel Erfolg beim Frösche sammeln und viel Spass auf unserer Webseite!

    </p>
    <p><a href="/wir" style="color:rgb(197, 197, 197)">Das sind wir!</a></p>
{% endblock %}
