{% extends "base.html" %}
{% block content %}
    <div class="cats">  
        <h2>Manon</h2>
    
        <p>Hey! Ich bin Manon und habe zusammen mit Ida das Mapdesign gemacht. <br>
            Wir haben  Wände und Böden gemacht und die map von "Finding Frogs" geschrieben. <br>
            Ausserdem habe ich diese Website programmiert und graphisch designt. <br>
            Ich hoffe, dass euch unser Spiel gefällt und ihr den Geistern entkommen könnt!
            </p> 
    </div>
    {% endblock %}