{% extends "base.html" %}
{% block content %}
    <div class="cats">  
        <h3>Manon</h3>
    
        <p>Hey! Ich bin Manon und habe zusammen mit Ida das Mapdesign gemacht. <br>
            Wir haben  Wände und Böden gemacht und die Map von "Finding Frogs" geschrieben. <br>
            Ausserdem habe ich diese Website programmiert und graphisch designt. <br>
            Ich hoffe, dass euch unser Spiel gefällt und ihr den Geistern entkommen könnt!<br>
            <br>
            <a href="/wir" style="color:rgb(152, 122, 60)">Hier </a> geht es zurück zu uns allen.
            </p> 
    </div>
    {% endblock %}