{% extends "base.html" %}
{% block content %}
    <div class="cats">  
        <h3>Mias</h3>
        
       <p>Hey! Ich bin Mias und meine Aufgabe war es, die Geister zu programmieren und zu designen.
           Ich habe auch das Portal und das Fackelschwingen programmiert. Viel Spass bei unserem Spiel
           und lasst euch nicht von den Geistern erwischen! 
           (Kleiner Tipp: Versucht die Geister nicht durch enge Durchgänge zu scheuchen,
           ansonsten kommt ihr nicht mehr durch)<p>
       </p>
    </div>
    {% endblock %}