{% extends "base.html" %}
{% block content %}

    <body>
       
        <p> Spielanleitung </p>
        <h5> "Finding Frogs" ist ein Top-Down RPG, das wir zwischen März und Mai 2022 entwickelt haben. <br>
            Die Hauptfigur befindet sich in einem unterirdischen Kerker wo sie durch viele Gänge über  
            ein Labyrinth ihren Weg bis zu einem Portal finden muss, um dort hindurchzugehen. Um durch dieses 
            Portal gehen zu dürfen, müssen unterwegs Frösche gesammelt werden. <br> Das ist jedoch nicht so 
            einfach, wie es scheint. Im ganzen Kerker leben nämlich drei Geister, die die Hauptperson 
            angreiffen. Um sie in Schach zu halten, muss die Hauptfigur sie mit einer Fackel verscheuchen, ohne dabei 
            zu sterben. <br> 
            Wir wünschen euch viel Spass und Gelingen beim Frösche suchen!</h5>
        <p> Arbeitsprozess </p>
        <h5> Begonnnen haben wir die Entwicklung mit einem Brainstorming darüber, in welche Richtung es mit 
            unserem Spiel gehen sollte. Ziemlich schnell kamen wir zu dem Schluss, ein Top-Down RPG in einem 
            Dungeon, also einem unterirdischen Kerker, zu programmieren. Unsere Vorstellungen waren zu Beginn 
            noch ein Bisschen zu optimistisch und wir einigten uns auf ein paar Vereinfachungen. <br>
            Anschliessend teilten wir die Aufgabenbereiche zu. Dabei achteten wir uns auf unsere jeweiligen 
            Stärken und Wünsche und so konnten wir alle einen Teil der Entwicklung übernehmen, der uns Spass machte.
            Im Verlauf des Projektes arbeiteten wir oft individuell und tauschten uns regelmässig über unsere Pläne aus.
            Wenn eine*r von uns ein Problem hatte, halfen wir uns gegenseitig oder fragten Herrn Geissmann. <br>
           <a href="/wir" style="color:rgb(152, 122, 60)">Lest hier noch mehr über unsere individuellen Arbeitsprozesse.</a></h5>
        
    </body>
   
{% endblock %}