{% extends "base.html" %}
{% block content %}

<body>
    <div class="cats">  
    <h1>Das sind wir</h1>

    <h5>Wenn ihr auf diese Frösche klickt, erfahrt ihr alles über die Menschen hinter "Finding Frogs"!</h5>
    <div class="flex-container">
        <div> 
           <a href="/manon"> <img src = {{ url_for("static", filename="frogp.png") }} alt="manon" width="150px";></a>
           <a href="/ida"> <img src = {{ url_for("static", filename="frog.png") }} alt="ida" width="150px";></a>
           <a href="/mias"> <img src = {{ url_for("static", filename="frogb.png") }} alt="mias" width="150px";> 
           <a href="/alessandra"> <img src = {{ url_for("static", filename="frogy.png") }} alt="alessandra" width="150px";>
            
        </div>

    
    
   
   
    
    </div>
</body>
{% endblock %}